<header>
    <div class="container-fluid">
        <div class="col-md-12">
            <div class="container-mod">
                <h1 class="logo"><a href="/login"><img class="svg" src="../assets/img/iconos_Rpn_buscador.svg"></a>SCE</h1>
            </div>
        </div>
    </div>
</header>
<div class="container-mod pad-container">
    <div class="content-form">
        <div class="header-content">
            <p><img class="svg" src="../assets/img/iconos_Rpn-01.svg"><strong>RNP</strong>Informativo</p>
        </div>
        <div>
            <div class="text-alert text-center" style="padding: 5px 15px 0px;">
                Estimado proveedor, nuestro portal no se encuentra disponible en estos momentos, intentelo nuevamente más tarde. Gracias por su comprensión.
            </div>
        </div>
    </div>
</div>
