
<div class="container-mod pad-container">
    <div class="content-form">
        <div class="header-content">
            <p><img class="svg" alt="Icono RNP Buscador" src="assets/img/iconos_Rpn-01.svg"><strong>RNP</strong>Informativo</p>
        </div>
        <div>
            <div class="text-alert text-center" style="padding: 5px 15px 0px;">
                Estimado proveedor, nuestro portal no se encuentra disponible en estos momentos, inténtelo nuevamente más tarde. Gracias por su comprensión.
            </div>
        </div>
    </div>
</div>
