<body>
<header>
    <div class="container-fluid">
        <div class="col-md-12">
            <div class="container-mod">
                <h1 class="logo"><img class="svg" src="../assets/img/iconos_Rpn_buscador.svg">SCE</h1>
            </div>
        </div>
    </div>
</header>
<div class="container-mod pad-container">
    <div class="content-form">
        <div class="header-content">
            <p><img class="svg" src="../assets/img/iconos_Rpn-01.svg"><strong>RNP</strong>Trámites en Línea</p>
        </div>
        <form class="body-content" action="" id="frm_0" [ngClass]="{hidden: initFormActive==false}">
            <p class="ruc_description"><span class="bg"><strong>RUC:</strong>{{ruc}}</span><span class="line"></span></p>
            <p class="text-center"><i class="fa fa-fw fa-envelope fa-3x" style="color: #c5c251;"></i></p>
            <p class="text-center">Correo electrónico de contacto</p>
            <p class="description-form">El código de verificación se enviará a la siguiente cuenta: <br><div class="text-center"><span><strong>{{correoFormatter}}</strong></span></div></p>
            <div class="no-remember">
                <p>¿No reconoces la información mostrada?<a href="#">PRUEBA DE OTRA MANERA</a></p>
            </div>
            <div class="form-group two-buttons">
                <a href="/login"><button class="btn btn-default" type="button">CANCELAR</button></a>
                <button class="btn btn-success" type="button" (click)="enviarCorreoCodVerificacion($event)">ENVIAR</button>
            </div>
            <div class="text-danger">{{err}}</div>
        </form>
        <form class="body-content" #f2="ngForm" action="" id="frm_1" [ngClass]="{hidden: initFormActive==true || codVerCorrecto==true}">
            <p class="ruc_description"><span class="bg"><strong>RUC:</strong>{{ruc}}</span><span class="line"></span></p>
            <p class="subtitle-form icon"><img class="svg" src="../assets/img/iconos_Rpn-05.svg">verificación</p>
            <p class="description-form">Ingrese el código de verificación, enviado al siguiente correo: <strong>{{correoFormatter}}</strong></p>
            <div class="form-group">
                <input ngModel #CodVerificacion="ngModel" name="CodVerificacion" id="CodVerificacion" class="form-control" type="text" placeholder="Código de verificación"
                    required
                    minlength="6"
                    maxlength="6">
                <span class="text-danger" *ngIf="CodVerificacion.touched && !CodVerificacion.valid">
                    <span *ngIf="CodVerificacion.errors.required">El código de verificación es requerido</span>
                    <span *ngIf="CodVerificacion.errors.minlength || CodVerificacion.errors.maxlength">El código debe tener {{CodVerificacion.errors.minlength.requiredLength}} caracteres</span>
                </span>
            </div>
            <div class="no-remember">
                <p>¿No reconoces la información mostrada?<a href="#">PRUEBA DE OTRA MANERA</a></p>
            </div>
            <div class="form-group two-buttons">
                <a href="/login"><button class="btn btn-default" type="button">CANCELAR</button></a>
                <button class="btn btn-success" type="button" [disabled]="!f2.valid" (click)="comprobarCodVerificacion(f2, $event)">ENVIAR</button>
            </div>
            <div class="text-danger text-center">{{err2}}</div>
        </form>
        <form class="body-content" #f3="ngForm" [ngClass]="{hidden: codVerCorrecto==false || finalScssMsg}" action="frm_2">
            <p class="ruc_description"><span class="bg"><strong>RUC:</strong>{{ruc}}</span><span class="line"></span></p>
            <p class="subtitle-form icon"><img class="svg" src="../assets/img/iconos_Rpn-02.svg">Actualización de clave RNP</p>
            <p class="description-form">Ingrese una nueva clave para su usuario RNP.</p>
            <div class="form-group">
                <input ngModel #Clave="ngModel" name="Clave" id="Clave" class="form-control" type="password" placeholder="Nueva contraseña"
                required
                minlength="8"
                maxlength="20"
                validateEqual="ReClave" reverse="true">
                <div class="text-danger" *ngIf="Clave.touched && !Clave.valid">
                    <div *ngIf="Clave.errors.required">La clave es requerida</div>
                    <div *ngIf="Clave.errors.minlength">La clave debe tener mínimo {{Clave.errors.minlength.requiredLength}} caracteres</div>
                    <div *ngIf="Clave.errors.maxlength">La clave debe tener máximo {{Clave.errors.maxlength.requiredLength}} caracteres</div>
                </div>
            </div>

            <div class="form-group">
                <input ngModel #ReClave="ngModel" name="ReClave" id="ReClave" class="form-control" type="password" placeholder="Confirmar nueva contraseña"
                required
                minlength="8"
                maxlength="20"
                validateEqual="Clave">
                <div class="text-danger" *ngIf="ReClave.touched && !ReClave.valid">
                    <div *ngIf="ReClave.errors.required">La confirmación es requerida</div>
                    <div *ngIf="ReClave.errors.minlength">La clave debe tener mínimo {{ReClave.errors.minlength.requiredLength}} caracteres</div>
                    <div *ngIf="ReClave.errors.maxlength">La clave debe tener máximo {{ReClave.errors.maxlength.requiredLength}} caracteres</div>
                    <div *ngIf="!ReClave.errors.validateEqual">Las contraseñas no coinciden</div>
                </div>
            </div>
            <div class="form-group two-buttons">
                <a href="/login"><button class="btn btn-default" type="button">CANCELAR</button></a>
                <button class="btn btn-success" type="button" [disabled]="!f3.valid" (click)="actualizarClave(f3, $event)">CONFIRMAR</button>
            </div>
            <div class="text-danger text-center">{{err3}}</div>
        </form>
        <div [class.hidden]="!finalScssMsg">
            <div class="text-primary text-center" style="padding: 5px 15px 0px;">{{scssMsg}}</div>
            <div class="text-center" style="padding: 15px">
                <a href="/login"><button style="width: 70% !important;" class="btn btn-success" type="button">REGRESAR AL LOGIN</button></a>
            </div>
        </div>
    </div>
</div>
<script src="js/vendor/vendor_all.js" type="text/javascript"></script><!--[if lte IE 8]><script src="static/js/ie/respond.min.js"></script><![endif]-->
<script src="js/init.js"></script>
</body>
