<body>
<header>
    <div class="container-fluid">
        <div class="col-md-12">
            <div class="container-mod">
                <h1 class="logo"><img class="svg" src="../assets/img/iconos_Rpn_buscador.svg">SCE</h1>
            </div>
        </div>
    </div>
</header>
<div class="container-mod pad-container">
    <div class="content-form">
        <div class="header-content">
            <p><img class="svg" src="../assets/img/iconos_Rpn-01.svg"><strong>RNP</strong>Trámites en Línea</p>
        </div>
        <form class="body-content" action="">
            <div class="form-group">
                <label>Nueva contraseña</label>
                <input class="form-control" id="Pass1" type="password" minlength="6" required="required" placeholder="Clave RNP">
            </div>
            <div class="form-group">
                <label>Repetir contraseña</label>
                <input class="form-control" id="Pass2" type="password" minlength="6" required="required" placeholder="Repetir Clave RNP" required="required">
            </div>
            <div class="form-group">
                <button id="btnLogin" class="btn btn-success full" type="button" (click)="autenticacion($event)">Confirmar</button>
            </div>
            <ul class="option-login">
                <li><a href="/recuperar/password">¿No puedes iniciar sesión?</a></li>
                <li><a href="http://www.rnp.gob.pe/informativo.asp">¿Eres un nuevo usuario?</a></li>
            </ul>
        </form>
    </div>
</div>
<script src="js/vendor/vendor_all.js" type="text/javascript"></script><!--[if lte IE 8]><script src="static/js/ie/respond.min.js"></script><![endif]-->
<script src="js/init.js"></script>
</body>
