/* You can add global styles to this file, and also import other style files */
body{
    height: 100% !important;
    margin: 0 !important;
    padding: 0 !important;
}
.container{
    width: 100% !important;
    padding: 0px !important;
    height: 100% !important;
}

.form-control.ng-touched.ng-invalid{
    border: 1px solid #b75d4f;
}

.form-control.ng-touched.ng-valid{
    border: 1px solid #34c592;
}

.text-danger{
    font-size: 11px;
    padding-left: 2px;
    padding-top: 2px;
}

#overlay, #overlayConfirm {
    position: fixed; /* Sit on top of the page content */
    display: none; /* Hidden by default */
    width: 100%; /* Full width (cover the whole page) */
    height: 100%; /* Full height (cover the whole page) */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.8); /* Black background with opacity */
    z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
    cursor: auto; /* Add a pointer on hover */
    padding-top: 7%;
}

#overlay a{
    cursor: pointer !important;
}

#overlay a:hover{
    color: #ff3b36;
    text-decoration: none;
    font-size: 1.5em;
}

#overlay p{
    font-size:1.8em;
    color: white;
    padding: 10px;
}
