<!DOCTYPE html>
<html lang="en-us"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Pagina de notificación de error 403</title>
    <link rel="stylesheet" th:href="@{/css/err.style.css}">
</head>

<body class="desktop-detected pace-done mobile-view-activated smart-style-2">

<!-- MAIN PANEL -->
<div id="main" role="main">

    <!-- RIBBON -->
    <div id="ribbon">
				<span class="ribbon-button-alignment">
					<span id="refresh" class="btn btn-ribbon" data-action="resetWidgets" data-title="refresh"  rel="tooltip" data-placement="bottom" data-original-title="<i class='text-warning fa fa-warning'></i> Warning! This will reset all your widget settings." data-html="true">
						<i class="fa fa-refresh"></i>
					</span>
				</span>
    </div>
    <!-- END RIBBON -->
    <!-- MAIN CONTENT -->
    <div id="content">
        <!-- row -->
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="text-center error-box">
                            <h1 class="error-text-2 bounceInDown animated"> Error 403 <span class="particle particle--c"></span><span class="particle particle--a"></span><span class="particle particle--b"></span></h1>
                            <h2 class="font-xl" style="text-align: center;"><strong><i class="fa fa-fw fa-warning fa-lg text-warning"></i> Acceso <u>No</u> Permitido</strong></h2>
                            <br />
                            <p class="lead">
                                No cuenta con los suficientes permisos para acceder al recurso. Contacté con el webmaster para que se le asignen los nuevos accesos en caso le hayan encargado ingresar al recurso. <br>Usa el botón de tu navegador para volver a <b>atrás</b> y así navegar a la página anterior.
                            </p>
                            <br>
                        </div>
                    </div>
                </div>
            </div>
            <!-- end row -->
        </div>
    </div>
    <!-- END MAIN CONTENT -->
</div>
<!-- END MAIN PANEL -->
<!-- PAGE FOOTER -->
<footer></footer>
<!-- END PAGE FOOTER -->
</body>
</html>
