<!DOCTYPE html>
<html lang="en-us"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Pagina de notificación de error 500</title>
    <link rel="stylesheet" th:href="@{/css/err.style.css}">
</head>

<body class="desktop-detected pace-done mobile-view-activated smart-style-2">

<!-- MAIN PANEL -->
<div id="main" role="main">

    <!-- RIBBON -->
    <div id="ribbon">
        <span class="ribbon-button-alignment">
        	<span id="refresh" class="btn btn-ribbon" data-action="resetWidgets" data-title="refresh"  rel="tooltip" data-placement="bottom" data-original-title="<i class='text-warning fa fa-warning'></i> Warning! This will reset all your widget settings." data-html="true">
        		<i class="fa fa-refresh"></i>
        	</span>
        </span>
    </div>
    <!-- END RIBBON -->

    <!-- MAIN CONTENT -->
    <div id="content">
        <!-- row -->
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="text-center error-box">
                            <h1 class="error-text tada animated"><i class="fa fa-times-circle text-danger error-icon-shadow"></i> Error 500</h1>
                            <h2 class="font-xl"><strong>Oooops, Algo ha salido mal!</strong></h2>
                            <br />
                            <p class="lead semi-bold">
                                <strong>Has experimentado un error técnico. Pedimos disculpas.</strong><br><br>
                                <small>
                                    Estamos trabajando duro para correjir este problema. Por favor vuelva a intentarlo más tarde.
                                </small>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- end row -->
        </div>
    </div>
    <!-- END MAIN CONTENT -->
</div>
<!-- END MAIN PANEL -->
<!-- PAGE FOOTER -->
<footer></footer>
<!-- END PAGE FOOTER -->
</body>

</html>
