<div class="container-mod pad-container">
    <div class="content-form">
        <div class="header-content">
            <p><img class="svg" alt="" src="assets/img/iconos_Rpn-01.png"><strong>RNP</strong>Informativo</p>
        </div>
        <div>
            <div class="text-alert" style="padding: 5px 15px 0px;">
                Estimado proveedor, la página a la que ha intentado acceder <span style="color: red;">no existe</span>.
            </div>
            <br>
            <div class="text-center">
                <a class="btn btn-success" href="login">Regresar al login</a>
            </div>
        </div>
    </div>
</div>
