<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>Sunat SSO Login</title>
    <link rel="stylesheet" href="webjars/bootstrap/3.3.2/css/bootstrap.min.css"/>

</head>
<body>
<div layout:fragment="content" th:remove="tag">
    <header>
        <nav class="navbar navbar-inverse navbar-static-top">
            <div class="container">

                <h1>Logeo con Sunat SSO exitoso!</h1>
            </div>
        </nav>
    </header>
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <h1 th:text="${msg}"></h1>
            <a th:href="@{/login}">Salir</a>
        </div>
    </div>


</div>
</body>
</html>
