<div class="container-mod pad-container">
    <div class="content-form">
        <div class="header-content">
            <p><img class="svg" alt="Icono RNP Acceso" src="assets/img/iconos_Rpn-01.svg"><strong>RNP</strong>Trámites en Línea</p>
        </div>
        <form class="body-content" action="">
            <div class="text-center" style="padding-top: 1%">
                <em class="fa fa-spinner fa-3x fa-spin"></em><br><br>
                <h4>Cargando... Por favor espere...</h4>
            </div>
        </form>
    </div>
</div>
