<body>
<header>
    <div class="container-fluid">
        <div class="col-md-12">
            <div class="container-mod">
                <h1 class="logo"><img class="svg" src="../assets/img/iconos_Rpn_buscador.svg">SCE</h1>
            </div>
        </div>
    </div>
</header>
<div class="container-mod pad-container">
    <div class="content-form">
        <div class="header-content">
            <p><img class="svg" src="../assets/img/iconos_Rpn-01.svg"><strong>RNP</strong>Trámites en Línea</p>
        </div>
        <form class="body-content" action="" id="frm_1">
            <p class="subtitle-form">HE OLVIDADO MI CONTRASEÑA</p>
            <p class="description-form">Para ayudarte a reestablecer tu contraseña. Primero debes ingresar tu RUC o código de extranjero no domiciliado e ingresar el código captcha.</p>
            <div class="form-group">
                <input id="Ruc" class="form-control" type="text"  maxlength="11" minlength="11" required="required" placeholder="RUC o Código de Extranjero no domiciliado">
            </div>
            <div class="form-group col-xs-6 pad-0">
                <input class="form-control" type="text" placeholder="Código captcha">
            </div>
            <div>
                <span style="color: red;" id="MsgValidacion" class="d-none">El ruc ingresado no existe</span>
            </div>
            <div class="form-group two-buttons">
                <button class="btn btn-default" type="button">CANCELAR</button>
                <button class="btn btn-success" type="button" (click)="obtenerCorreo($event)">INICIAR </button>
            </div>
        </form>
        <form class="body-content d-none" action="" id="frm_2">
            <p class="ruc_description"><span class="bg"><strong>RUC:</strong><span id="RucSolicitante"></span></span><span class="line"></span></p>
            <p class="subtitle-form icon"><img class="svg" src="../assets/img/iconos_Rpn-03.svg">CORREO ELECTRÓNICO DE CONTACTO</p>
            <p class="description-form">El código de verificación, se enviará a la siguiente cuenta: <strong id="CorreoSemiOculto"></strong></p>
            <div class="no-remember">
                <p>¿No reconoces la información mostrada?<a href="#">PRUEBA DE OTRA MANERA</a></p>
            </div>
            <div class="form-group two-buttons">
                <button class="btn btn-default" type="button">CANCELAR</button>
                <button class="btn btn-success" type="button" (click)="enviarCorreoRecuperacion($event)">ENVIAR</button>
            </div>
        </form>
        <form class="body-content d-none" action="" id="frm_3">
            <p class="ruc_description"><span class="bg"><strong>RUC:</strong>1234567890</span><span class="line"></span></p>
            <p class="subtitle-form icon"><img class="svg" src="../assets/img/iconos_Rpn-05.svg">verificación</p>
            <p class="description-form">Ingrese el código de verificación, enviado al siguiente correo:<strong>juan*****@gmail.com</strong></p>
            <div class="form-group">
                <input class="form-control" type="text" placeholder="Código de verificación">
            </div>
            <div class="no-remember">
                <p>¿No reconoces la información mostrada?<a href="#">PRUEBA DE OTRA MANERA</a></p>
            </div>
            <div class="form-group two-buttons">
                <button class="btn btn-default" type="button">CANCELAR</button>
                <button class="btn btn-success" type="button" (click)="confirmacionCambio($event)">ENVIAR</button>
            </div>
        </form>
    </div>
</div>
<script src="js/vendor/vendor_all.js" type="text/javascript"></script><!--[if lte IE 8]><script src="static/js/ie/respond.min.js"></script><![endif]-->
<script src="js/init.js"></script>
</body>
