<app-listado-opcion [ruc]="ruc" [ngClass]="{hidden: activeOpsCambio==false}"></app-listado-opcion>
<div class="container-mod pad-container" [ngClass]="{hidden: activeOpsCambio==true}">
    <div class="content-form">
        <div class="header-content">
            <p><img class="svg" alt="Icono RNP Acceso" src="assets/img/iconos_Rpn-01.svg"><strong>RNP</strong>Trámites en Línea</p>
        </div>
        <form class="body-content" #f="ngForm" action="">
            <p class="subtitle-form">HE OLVIDADO MI CONTRASEÑA</p>
            <p class="description-form">Para ayudarte a reestablecer tu contraseña. Primero debes ingresar tu RUC o código de extranjero no domiciliado e ingresar el código captcha.</p>
            <div class="form-group">
                <input ngModel="" #Ruc="ngModel" name="Ruc" id="Ruc" class="form-control" type="text"
                    maxlength="11"
                    minlength="11"
                    required
                    placeholder="RUC o Código de Extranjero no domiciliado"
                    (keypress)="numberOnly($event)">
                <div class="text-danger" *ngIf="Ruc.touched && !Ruc.valid">
                    <div *ngIf="Ruc.errors.required">El ruc es requerido</div>
                    <div *ngIf="Ruc.errors.minlength || Ruc.errors.maxlength">El ruc debe tener {{Ruc.errors.minlength.requiredLength}} caracteres</div>
                </div>
            </div>

            <div class="row" style="padding: 0px 10px 10px;">
                <div class="col-md-6 col-sm-6 col-xs-12 pad-left-0" style="padding-left: 10px !important;">
                    <img alt="Captcha RNP" id="ImgCaptcha" style="position: center;box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);border: 0.5px solid #e6e6e6;" class="img-c">
                </div>
                <div class="col-md-6 col-sm-6 col-xs-12 pad-0" style="padding-top: 10px;">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="col-md-2 col-sm-2 col-xs-3">
                                <a (click)="refreshCaptcha()"  href="javascript:void(0);" class="icon icon-prepend" title="Actualizar captcha" rel="tooltip" data-placement="top" data-original-title="Actualizar captcha">
                                    <em class="fa fa-refresh" style="padding-top: 3px;color: skyblue !important; font-size: 1.5em !important;" id="RefreshCaptcha"></em>
                                </a>
                            </div>
                            <div class="form-group col-md-9 col-sm-9 col-xs-8" style="padding-right: 5px !important;">
                                <input ngModel #CodeCaptcha="ngModel" class="form-control" type="text" name="CodeCaptcha" id="CodeCaptcha" placeholder="Captcha"
                                       maxlength="5"
                                       minlength="5"
                                       required/>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="text-danger text-center" *ngIf="CodeCaptcha.touched && !CodeCaptcha.valid" style="padding: 5px">
                    <div *ngIf="CodeCaptcha.errors.required">El captcha es requerido</div>
                    <div *ngIf="CodeCaptcha.errors.minlength || CodeCaptcha.errors.maxlength">El captcha debe tener {{CodeCaptcha.errors.minlength.requiredLength}} caracteres</div>
                </div>
                <div class="text-danger text-center" [class.hidden]="!failCaptcha">Código captcha no es igual al de la imagen</div>
                <div class="text-danger text-center">{{errorMessage}}</div>
            </div>
            <div class="form-group two-buttons">
                <a href="login"><button class="btn btn-default" type="button">CANCELAR</button></a>
                <button class="btn btn-success" type="submit" [disabled]="!f.valid" (click)="preventMultipleSubmit($event.target, f)">INICIAR </button>
            </div>
        </form>
    </div>
</div>
