<div class="container-mod pad-container">
    <div class="content-form">
        <div class="header-content">
            <p><img class="svg" alt="" src="assets/img/iconos_Rpn-01.png"><strong>RNP</strong>Trámites en Línea</p>
        </div>
        <form id="FrmLogin" class="body-content hidden" [class.hidden]="activeSegForm" [class.hidden]="flagSinUsuario" action="" #f="ngForm" (ngSubmit)="submit(f, $event)">
            <div class="form-group">
                <label for="Ruc">USUARIO</label>
                <input ngModel name="Ruc" #Ruc="ngModel" id="Ruc" class="form-control" type="text"
                    placeholder="Ruc o Código de Extranjero no domiciliado"
                    required
                    minlength="11"
                    maxlength="11"
                    (keypress)="numberOnly($event)">
                <div class="text-danger" *ngIf="Ruc.touched && !Ruc.valid">
                    <div *ngIf="Ruc.errors.required">El usuario es requerido</div>
                    <div *ngIf="Ruc.errors.minlength || Ruc.errors.maxlength"> El usuario debe tener {{Ruc.errors.minlength.requiredLength}} caracteres</div>
                </div>
            </div>
            <div class="form-group">
                <label for="Clave">CONTRASEÑA</label>
                <input ngModel name="Clave" #Clave="ngModel" id="Clave" class="form-control" type="password" placeholder="Clave RNP"
                    minlength="8"
                    maxlength="20"
                    required>
                <div class="text-danger" *ngIf="Clave.touched && !Clave.valid">
                    <div *ngIf="Clave.errors.required">La clave es requerida</div>
                    <div *ngIf="Clave.errors.minlength">La clave debe tener mínimo {{Clave.errors.minlength.requiredLength}} caracteres</div>
                </div>
            </div>
            <div class="form-group">
                <button id="btnLogin" class="btn btn-success full" type="submit">INICIAR SESIÓN</button>
                <div class="alert alert-danger" [class.hidden]="verificacion" style="font-size: 12px; color: white !important; background: #d9534f !important;">{{msgLogin}}</div>
            </div>
            <ul class="option-login">
                <li><a href="javascript:void(0)" (click)="activeSegForm=true" id="btnNoInitSesion" class="login-ops">¿No puedes iniciar sesión?</a></li>
                <li><a href="http://www.rnp.gob.pe/informativo.asp" class="login-ops">¿Eres un nuevo usuario?</a></li>
            </ul>
        </form>
        <form class="body-content hidden" action="" [class.hidden]="!activeSegForm">
            <p class="subtitle-form">¿Por qué no puedes iniciar sesión?</p>
            <div class="form-group form-group-rbt">
                <label class="group-rbt">
                    <input class="rbt" type="radio" name="option" data-opc="1" (change)="opcRecuperacion=1" checked><span class="checkmark"></span>He olvidado mi contraseña
                </label>
            </div>
            <div class="form-group form-group-rbt">
                <label class="group-rbt">
                    <input class="rbt" type="radio" name="option" data-opc="2" (change)="opcRecuperacion=2"><span class="checkmark"></span>No se cúal es mi usuario
                </label>
            </div>
            <div class="form-group two-buttons mrg-top">
                <a href="javascript:void(0)" (click)="activeSegForm=false"><button class="btn btn-default" type="button">CANCELAR</button></a>
                <a href="javascript:void(0)" (click)="irOpcionRecuperacion()"><button class="btn btn-success" type="button">SIGUIENTE</button></a>
            </div>
        </form>
        <form class="body-content hidden" action="" [class.hidden]="!flagSinUsuario" style="max-width: 98%; !important;">
            <label class="subtitle-form" style="padding-bottom: 15px;">Para proceder con las opciones de recuperación de ususario, elija la categoría en la que se encuentra: </label><br>
            <div class="form-group">
                <button class="btn btn-primary" type="button" (click)="showMsgUsuario()" style="white-space: normal !important;">Soy proveedor nacional o extranjero con domicilio en el Perú</button>
            </div>
            <div class="form-group">
                <a href="recuperar/usuario"><button class="btn btn-primary" type="button" style="white-space: normal !important;">Soy proveedor extranjero sin domicilio en el Perú</button></a>
            </div>
            <div class="text-success" [class.hidden]="msgInformacionUsuario == ''" style="font-size: 0.9em;border: 2px solid #b9a9a9;padding: 10px;border-radius: 10px;">
                {{msgInformacionUsuario}}
            </div>
            <div class="form-group two-buttons" style="margin-top: 15px">
                <a href="javascript:void(0)" href="login"><button class="btn btn-success" type="button">VOLVER AL LOGIN</button></a>
            </div>
        </form>
        <iframe title="Legacy RNP Login" id="IframeReceiver" class="hidden" src="https://www.rnp.gob.pe/login.asp" height="500px" width="500px" (load)="iframeCheckLogged()"></iframe>
    </div>
</div>
